html{
    scroll-behavior: smooth;
}
body{
     /* font-family: "Roboto", sans-serif; */


}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif; 
}


.section__titel{
    font-weight: bolder;
    margin-bottom: 0;
}
.hr-style {
    border: 5px dotted black;
    border-bottom: none;
    width: 150px;
    text-align: center;
}
.nav-img{
    width: 150px;
    height: auto;
}
.navbar{
    padding: 4% 10%;
    background-color:rgba(0, 0, 1,.3);
}

.nav__icon{
    color: white;
}

.nav-link{
    color: white;
    margin:5px;
    border-radius: 5px;
    transition: 0.4s;
}

.nav-link:hover{
    background-color: #2980b9;
    color: white;
    transform: scale(1.1);
}

header{
    background-image: url(images/Outdoor.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.banner-contener{
    height: 100vh;
}

.banner-contents h1{
    font-size: 3.2rem;
    background-color: rgba(7, 101, 189, .8);
    font-family: "Handlee", cursive;

}

#fetures-section {
    padding: 4% 15%;
    background-color: #e8ded2;
}

.fetures-col{
    border: 2px solid #ff02c2;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    transition: .4s;
}

.fetures-col:hover {
    transform: scale(1.1);
    box-shadow: 3px 2px 5px black
}

.icon-style {
    background-color: #ff02c2;
    color: white;
    padding: 15px;
    margin: 20px 0;
}

/* about section starts here  */
.about-section {
    padding: 4% 10%;
    background-color: #e8ded2;
}


.basic-dec p{
    font-style: .9rem;
    margin-bottom: 0;
    font-weight: lighter;
}

.basic-dec a{
    font-style: .9rem;
    margin-bottom:10px;
    font-weight: lighter;
    text-decoration:none;
}
.basic-dec a:hover{
    text-decoration: underline;
}


/* about section ends here  */
/* video section starts here  */

#video__section{
    padding: 4% 10%;
    background-color: #e8ded2;
}

.card{
    margin-bottom: 3rem;
    border: 2px solid #ff02c2;
    transition: .4s;
}
.card:hover{
    box-shadow: 1px 1px 0px #ff02c2;
    transform: scale(1.1);
}
/* img__style{
    width: 450px;
    height: 450px;
} */


/* video section ends here  */


/* .feedback starts here  */

.feedback-section{
    padding: 4%;
    background-color:#e8ded2;
}

.Feedback-img{
    width:150px;
    height: auto;
    padding-bottom:20px ;
}
.carousel-item{
    padding: 4% 15% ;
    font-size: 1.2rem;
    text-align: center;
    margin-bottom:20px;

}
/* .feedback ends here  */

/* contact section starts here  */
.contact-section{
    padding: 4% 10%;
    background-color: #d8b07f;

}

form{
    border: 2px solid #a5478f;
    border-radius: 5px;
    padding:10px;
    box-shadow: 0px 0px 9px rgb(189, 175, 189);
    transition:.4s;
}

form:hover{
    box-shadow: 1px 1px 102px rgb(206, 140, 206) ;
}

.textarea{
    resize: none;
    margin-top:10px;
}
/* contact section ends here  */

/* footer section starts here  */

footer{
    background-color: #647c8c;
    padding: 4% 10%;
}

.logo-style a{
    font-size: 1.5rem;
    text-decoration: none;
    color: wheat;
    margin: 0 10px;
}
/* footer section starts here  */